.panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  top: 0;
  padding: 16px;
  height: 100vh;
  width: 480px;
  z-index: 999;
  background-color: #ece9e2;
  transition: transform ease var(--animation-duration);

  &[data-position='right'] {
    right: 0;
    padding-right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

    &[data-transition-state='exiting'],
    &[data-transition-state='exited'] {
      transform: translateX(100%);
    }
  }

  &[data-position='left'] {
    left: 0;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);

    &[data-transition-state='exiting'],
    &[data-transition-state='exited'] {
      transform: translateX(-100%);
    }
  }

  &[data-transition-state='entering'],
  &[data-transition-state='entered'] {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .panel {
    width: 420px;
  }
}

@media (max-width: 590px) {
  .panel {
    width: 100%;
  }
}

@media (prefers-reduced-motion) {
  .panel {
    transition: none;
  }
}
