.backdrop_box {
  position: fixed;
  inset: 0;
  z-index: 999;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

.cart_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 480px;
  z-index: 999;
  padding: 16px 0 16px 16px;
  background-color: #f3f3f3;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform ease 0.3s;

  @starting-style {
    transform: translateX(100%);
  }
}

.close_btn {
  position: absolute;
  top: 28px;
  right: 50px;
  width: 25px;
  height: 25px;
  &:hover {
    cursor: pointer;
    color: #696969;
  }
}

.cart_title {
  font-size: 2rem;
  font-weight: 500;
}

.checkout_btn_box {
  display: grid;
  padding: 0 36px 0 24px;
}

@media (max-width: 768px) {
  .cart_box {
    width: 100%;
  }
}
