.backdrop_box {
  position: fixed;
  inset: 0;
  z-index: 999;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(3px);
  transition: backdrop-filter ease 0.3s;
}

.cart_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 480px;
  z-index: 999;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform ease 0.3s;
  overflow: auto;

  @starting-style {
    transform: translateX(100%);
  }
}

.close_btn {
  position: absolute;
  top: 18px;
  right: 22px;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
    color: #696969;
  }
}

.line_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 0 24px;
}

.line_details_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.variant_box,
.quantity_box,
.line_price_box {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.cart_title {
  font-size: 2em;
  font-weight: 500;
}

.total_price_box {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0 24px;

  .total_price_text {
    font-weight: 600;
  }
}

.checkout_btn_box {
  display: grid;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .cart_box {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .line_box {
    grid-template-columns: 1fr;
  }
}
