.main_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60vh;
  gap: 24px;
  padding: 36px;
}

.discount_notifier_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  background-color: #f3f3f3;
  border-radius: 16px;

  .discount_close_btn {
    transition: opacity ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .discount_icon_text_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .discount_text_box {
      font-size: 0.9rem;
      font-weight: 500;
      color: #121212;

      .discount_sign_text {
        font-size: 0.75rem;
        color: #696969;
      }
    }
  }

  .discount_notifier_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px 8px;
    font-size: 0.9rem;
    background-color: #121212;
    color: #f3f3f3;
    border-radius: 6px;
    transition: opacity ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.collections_box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;

  .collections_big_title {
    font-size: 2.25rem;
    font-weight: 500;
    color: #121212;
    padding: 24px;
  }
}

.collections_sub_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;

  .collection_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 16px;
    transition:
      opacity ease-in-out 0.2s,
      transform ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transform: scale(1.03);
    }

    .collection_image {
      border-radius: 16px;
    }

    .collection_title {
      padding: 0 10px;
      font-size: 1.25rem;
      font-weight: 500;
      background-color: transparent;
      color: #121212;
      border-radius: 16px;
      transition:
        color ease-in-out 0.2s,
        border-color ease-in-out 0.2s;

      &::after {
        position: absolute;
        content: '';
        inset: 0;
      }
    }
  }
}

.trust_section {
  padding: 64px 24px;
  background-color: #f3f3f3;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.trust_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 60px;
}

.trust_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trust_item h4 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 15px 0 8px;
  color: #111;
  text-transform: uppercase;
}

.trust_item p {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 25%, 280px), 1fr));
  gap: 14px;
  max-width: 100%;
  padding-bottom: 24px;
  margin-top: 48px;
}

@media (max-width: 768px) {
  .trust_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .trust_section {
    padding: 50px 20px;
  }
}

@media (max-width: 660px) {
  .collections_box {
    .collections_big_title {
      font-size: 1.85rem;
    }

    .collections_sub_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .discount_notifier_box {
    svg {
      width: 16px;
      aspect-ratio: 1;
    }

    .discount_icon_text_box {
      .discount_text_box {
        font-size: 0.75rem;

        .discount_sign_text {
          font-size: 0.65rem;
        }
      }
    }

    .discount_notifier_link {
      padding: 3px 5px;
      font-size: 0.75rem;
    }
  }

  .collections_box {
    .collection_box {
      .collection_title {
        font-size: 1.15rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .discount_notifier_box {
    flex-direction: column;
    position: relative;

    .discount_close_btn {
      position: absolute;
      inset: 0;
      left: 6px;
      top: 6px;
    }

    .discount_notifier_link {
      height: 25px;
    }
  }

  .collections_box {
    .collections_big_title {
      font-size: 1.55rem;
    }

    .collection_box {
      .collection_title {
        font-size: 1rem;
      }

      .collection_title {
        font-size: 1rem;
      }
    }
  }

  .trust_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .trust_section {
    padding: 24px 12px;
  }

  .trust_item {
    h4 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
