.placeholder_image {
  aspect-ratio: 1;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100vh;
    animation: shimmer 1.5s ease-in-out infinite;
  }

  &[data-variant='white'] {
    background: #ededed;

    &::before {
      background-image: linear-gradient(to right, #ededed 0%, #f6f6f6 20%, #ededed 40%, #ededed 100%);
    }
  }

  &[data-variant='brown'] {
    background: #e4e1da;

    &::before {
      background-image: linear-gradient(to right, #e4e1da 0%, #f0ede7 20%, #e4e1da 40%, #e4e1da 100%);
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1440px 0;
  }
  100% {
    background-position: 1440px 0;
  }
}
