.remove_line_btn {
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  transition:
    background-color ease-in-out 0.2s,
    color ease 0.2s;

  &:hover {
    color: #ffffff;
    background-color: #b53030;
  }
}
