.product_details_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.text_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 960px;
  padding-top: 24px;
}

.text_info_box {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 960px;
  padding: 24px 0;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.price {
  font-size: 1.1rem;
  font-weight: 500;
}

.color_title,
.size_title {
  font-size: 1.1rem;
  font-weight: bold;
}

.size_info_box,
.color_info_box,
.quantity_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 260px;
}

.color_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;

  &.selected {
    border: 1.5px solid #696969;
    border-radius: 100%;
  }

  button {
    cursor: pointer;
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }
}

.image {
  height: 100vh;
  object-fit: cover;
}

.quantity_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quantity_box h2 {
  font-weight: bold;
  font-size: 1.1rem;
}

.quantity_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 8px 16px;
  max-width: 180px;
  height: 50px;
  font-size: 1.1rem;
  border: 1px solid #696969;

  button {
    cursor: pointer;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }
}

.description {
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding-top: 24px;
  padding-right: 16px;
}

.cart_btn {
  max-width: 420px;
}

@media (max-width: 920px) {
  .product_details_box {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }

  .text_box {
    padding: 0 8px;
  }
}
