.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
  background-color: #f1f0f0;
}

.title {
  font-size: 1.225rem;
  font-weight: 600;
}

.payment_info_title {
  font-size: 1.225rem;
  font-weight: 500;
}

.input_element {
  input {
    border: 1px solid #adacac;
    border-radius: 8px;
    color: #696969;
    background-color: #f8f8f8;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;

    &:focus {
      border: 2px solid #6868d9;
      outline: none;
    }
  }
}

.payment_info_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  border-radius: 6px;
}

.row_box {
  display: flex;
  gap: 16px;

  @media (max-width: 580px) {
    flex-direction: column;
  }
}

.column_box {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }
  .checkout_info_btn {
    font-size: 0.8rem;
    height: 40px;
  }

  .divider {
    font-size: 10px;
  }

  .payment_btn_box {
    legend {
      font-size: 0.9rem;
    }
  }
}
