.main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  background-color: #f8f8f8;
  border-radius: 16px;
}

.title {
  font-size: 2.225rem;
  font-weight: 500;
}

.info_text {
  padding-top: 16px;
  font-size: 1.225rem;
  font-weight: 500;
}

.home_link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 40px;
  padding: 5px 16px;
  color: #f8f8f8;
  background-color: #121212;
  border-radius: 8px;
  transition: background-color ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #202020;
  }
}
