.main_box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 60vh;
  gap: 24px;
  padding: 36px;
}

.title {
  font-size: 3.2rem;
  font-weight: 500;
}

.info_text {
  font-size: 1.2rem;
  padding: 0 16px;
}
