.main_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 920px;
  min-height: 60vh;
  margin-top: 24px;
  padding: 0 120px;

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .column_box {
    display: flex;
    flex-direction: column;
  }

  input {
    height: 46px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #696969;
    border-radius: 6px;
  }

  button {
    color: #ffffff;
    background-color: #121212;
    height: 46px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: background-color ease-in-out 0.1s;

    &:hover {
      cursor: pointer;
      background-color: #2f2f2f;
    }
  }
}

.notification_box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px solid #07a843;
  border-radius: 6px;
  color: #046833;
  background-color: #f0fdf4;
}

@media (max-width: 1024px) {
  .main_box {
    padding: 0 16px;
  }
}
