.product_card_box {
  position: relative;
  background-color: #ffffff;
}

.product_card_text_info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title::after {
  content: '';
  position: absolute;
  inset: 0;
}

.price {
  font-weight: bold;
}
