.submit_button {
  color: #f8f8f8;
  background-color: #121212;
  height: 46px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: background-color ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #202020;
  }

  &:active {
    background-color: #303030;
  }
}
