.empty_cart_box {
  font-size: 1.4rem;
  padding: 0 24px;
}

.cart_title {
  font-size: 2rem;
  font-weight: 500;
}

.lines_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px 16px 0;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #121212 transparent;
}

.line_box {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 520px;
  position: relative;
  background-color: #f3f3f3;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}

.line_image_box {
  margin: auto;

  img {
    width: 180px;
    border-radius: 16px;
  }
}

.line_details_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  padding: 16px 16px 16px 0;
}

.title_box {
  a {
    font-size: 0.85rem;
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.text_info_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.variant_box,
.quantity_box,
.line_price_box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  font-size: 0.75rem;
  font-weight: 500;
}

.remove_line_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  z-index: 1000;
}

.total_price_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0 36px 0 24px;
  font-weight: 700;
}

@media (max-width: 433px) {
  .line_box {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    gap: 0;
  }
}
