.empty_cart_box {
  font-size: 1.4rem;
  padding: 0 24px;
}

.lines_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 16px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #121212 transparent;
}

.line_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  background-color: #f3f3f3;
  border-radius: 16px;
}

.line_image_box {
  display: flex;

  img {
    border-radius: 16px;
  }
}

.line_details_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.variant_box,
.quantity_box,
.line_price_box {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.remove_line_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.total_price_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0 36px 0 24px;
  font-weight: 600;
}
