.discover_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #121212;
  color: #f3f3f3;

  .arrow {
    transition: transform ease-in-out 0.3s;
  }

  &:hover {
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.collection_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: absolute;
  inset: 0;
  top: 58px;
  max-width: 540px;
  min-width: 220px;
  z-index: 999;
  padding: 16px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #696969 #ece9e2;
  max-width: 540px;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: #ece9e2;

  .collection_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;

    &:hover {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      transform: translateY(-1px);
    }

    .image_box {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 220px;

      .collection_image {
        aspect-ratio: 1;
        border-radius: 16px 0 0 16px;
      }
    }

    .description_box {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 16px;
      padding: 0 16px;
      color: #121212;

      .collection_title {
        font-size: 1.125rem;
        font-weight: 600;

        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
      }

      .description {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 480px) {
  .discover_button {
    font-size: 0.8rem;
    padding: 5px;
    gap: 2px;
  }

  .collection_box {
    width: 100%;

    .collection_list {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .image_box {
        max-width: none;
        .collection_image {
          border-radius: 16px 16px 0 0;
        }
      }

      .description_box {
        padding: 16px;
        gap: 8px;
      }
    }
  }
}
