.backdrop_box {
  position: fixed;
  inset: 0;
  z-index: 999;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

.search_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 480px;
  z-index: 999;
  padding: 16px 0 16px 16px;
  background-color: #f3f3f3;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform ease 0.3s;

  @starting-style {
    transform: translateX(100%);
  }
}

.close_btn {
  position: absolute;
  top: 28px;
  right: 50px;
  width: 25px;
  height: 25px;
  &:hover {
    cursor: pointer;
    color: #696969;
  }
}

.content_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 52px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.search_input {
  font-size: 1.125rem;
  padding: 0 5px;
  border-bottom: 2px solid #121212;

  &:focus {
    outline: none;
  }
}

.search_btn:hover {
  cursor: pointer;
  color: #606060;
}

@media (max-width: 768px) {
  .search_panel {
    width: 100%;
  }
}
