.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column_box {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #121212;
  height: 46px;
  padding: 8px;
  margin-bottom: 16px;
}

.additional_title {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  a {
    color: #696969;
    font-size: 0.8rem;
    text-decoration: underline;
  }
}

.login_btn {
  max-width: 720px;
}

@media (max-width: 480px) {
  .password_box a {
    font-size: 0.64rem;
  }
}
