.main_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 128px;
  max-width: 1440px;
  padding: 24px 56px;
  margin: 0 auto;
}

.form_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;

  h2 {
    font-size: 2em;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .main_box {
    grid-template-columns: 1fr;
    gap: 64px;
  }
}
