.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row_box {
  display: flex;
  gap: 16px;

  @media (max-width: 580px) {
    flex-direction: column;
  }
}

.register_btn {
  max-width: 720px;
  margin-top: 8px;
}
