.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.other_box {
  display: flex;
  gap: 16px;
}

.logo_box a {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #121212;
}
