@import '@fontsource/birthstone';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 36px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;
}

.other_box {
  display: flex;
  gap: 24px;
}

.logo_box a {
  font-size: 2.225rem;
  font-weight: 600;
  font-family: Birthstone, sans-serif;
  color: #121212;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #121212;
}
