@import '@fontsource/birthstone';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 36px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;
}

.other_box {
  display: flex;
  gap: 24px;
}

.logo_box a {
  font-size: 2.225rem;
  font-weight: 600;
  font-family: Birthstone, sans-serif;
  color: #121212;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #121212;
}

.search_btn {
  cursor: pointer;
  color: #121212;

  &:hover {
    color: #606060;
  }
}

@media (max-width: 768px) {
  .other_box {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 8px 12px;
  }

  .logo_box a {
    font-size: 1.8rem;
  }

  .other_box {
    gap: 12px;

    svg {
      aspect-ratio: 1;
      width: 1.225rem;
    }
  }
}
