.description_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color: #121212;
}

.collection_title {
  font-size: 6rem;
  font-weight: 600;
  padding: 24px 16px;
}

.collection_description {
  padding: 0 48px;
  font-size: 2rem;
  line-height: 3.2rem;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px 16px;
  max-width: 100%;
  padding-bottom: 24px;
  margin-top: 48px;
}
