.ring_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  color: #121212;
  background-color: rgba(243, 243, 243, 0.2);

  &.pending {
    position: static;
    inset: unset;
  }

  .ring {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #d3d3d3;
    border-top-color: #000;
    border-right-color: #000;
    animation: ringSpin 0.8s linear infinite;
  }

  p {
    font-size: 1.225rem;
    font-weight: 500;
  }
}

@keyframes ringSpin {
  100% {
    transform: rotate(360deg);
  }
}

.main_box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 60vh;
  gap: 24px;
  padding: 36px;
}

.description_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #121212;
  padding-left: 16px;
}

.collection_title {
  font-size: 3.225rem;
  font-weight: 600;
}

.collection_description {
  font-size: 1.225rem;
  line-height: 2rem;
}

.filters_box {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: fixed;
  max-width: 480px;
  height: 100vh;
  padding: 64px 24px 16px 24px;
  inset: 0;
  z-index: 999;
  background-color: #f3f3f3;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform ease 0.3s;

  @starting-style {
    transform: translateX(-100%);
  }
}

.tags_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 28px;
}

.availability_box,
.tags_box {
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #696969;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: #121212;
      border-color: #121212;
    }

    &:checked::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.price_range_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.price_reset_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #696969;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.box_title {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 8px;
}

.tag_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.input_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input_text {
  color: #121212;
  font-weight: 500;
  font-size: 0.9rem;
}

.input {
  height: 25px;
  max-width: 90px;
  font-size: 0.9rem;
  border: 1px solid #696969;
  color: #121212;
  border-radius: 6px;
  text-align: center;
}

.filters_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 100px;
  height: 35px;
  margin-top: 24px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  color: #121212;
  border: 1px solid #121212;
  border-radius: 6px;
  transition: opacity ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(180px, 25%, 280px), 1fr));
  gap: 14px;
  max-width: 100%;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .filters_box {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 660px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .input {
    height: 35px;
  }

  .input_box {
    span {
      font-size: 0.86rem;
    }
  }
}
