.main_box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 60vh;
  gap: 24px;
  padding: 36px;
}

.description_box {
  display: flex;
  flex-direction: column;
  color: #121212;
  background-color: #f3f3f3;
  padding: 36px;
  border-radius: 16px;
}

.collection_title {
  font-size: 3.25rem;
  font-weight: 600;
}

.collection_description {
  font-size: 1.225rem;
  font-weight: 500;
  line-height: 2rem;
}

.tags_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 28px;
}

.availability_box,
.tags_box {
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #696969;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: #121212;
      border-color: #121212;
    }

    &:checked::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.price_range_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.box_title {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 8px;
}

.tag_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.input_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input_text {
  color: #121212;
  font-weight: 500;
  font-size: 0.9rem;
}

.input {
  height: 25px;
  max-width: 90px;
  font-size: 0.9rem;
  border: 1px solid #696969;
  color: #121212;
  border-radius: 6px;
  text-align: center;
}

.filter_btn_box {
  display: flex;
  align-items: center;
  gap: 24px;

  .price_reset_btn,
  .price_view_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 6px;
    transition: opacity ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .price_reset_btn {
    background-color: #f3f3f3;
    color: #121212;
    border: 1px solid #121212;
  }

  .price_view_btn {
    background-color: #121212;
    color: #f3f3f3;
    padding: 8px 24px;
  }
}

.filters_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 100px;
  height: 35px;
  margin-top: 24px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  color: #121212;
  border: 1px solid #121212;
  border-radius: 6px;
  transition: opacity ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(180px, 25%, 280px), 1fr));
  gap: 14px;
  max-width: 100%;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .box_title {
    font-size: 1.75rem;
  }

  .input_text {
    font-size: 0.85rem;
  }
}

@media (max-width: 660px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .input {
    height: 35px;
  }

  .input_box {
    span {
      font-size: 0.86rem;
    }
  }

  .box_title {
    font-size: 1.25rem;
  }

  .input_text {
    font-size: 0.75rem;
  }
}
