.main_box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 60vh;
  gap: 24px;
  padding: 36px;
}

.description_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #121212;
  padding-left: 16px;
}

.collection_title {
  font-size: 3.225rem;
  font-weight: 600;
}

.collection_description {
  font-size: 1.225rem;
  line-height: 2rem;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 25%, 280px), 1fr));
  gap: 14px;
  max-width: 100%;
  padding-bottom: 24px;
  margin-top: 24px;
}

@media (max-width: 660px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
