.quantity_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 4px;
  font-size: 0.8rem;
  border: 1px solid #696969;
  border-radius: 6px;

  button {
    cursor: pointer;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }
}

@media (max-width: 480px) {
  .quantity_btn_box {
    gap: 24px;
    font-size: 0.8rem;
  }
}
