.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #f1f0f0;
}

.title {
  font-size: 2.225rem;
  font-weight: 500;
}

.payment_info_title {
  font-size: 1.225rem;
  font-weight: 500;
}

.input_element {
  input {
    border: 1px solid #adacac;
    border-radius: 8px;
    color: #696969;
    background-color: #f8f8f8;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;

    &:focus {
      border: 2px solid #6868d9;
      outline: none;
    }
  }
}

.payment_btn_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 8px;
  border: 1px solid #696969;
  border-radius: 8px;
  padding: 20px;

  legend {
    padding: 0 10px;
    font-weight: 600;
    text-align: center;
  }

  .pay_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    height: 45px;
    background-color: pink;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color ease-in-out 0.2s;
  }

  .btn_image {
    width: 78%;
    height: 80%;
    object-fit: contain;
  }

  .amazon_btn {
    padding-top: 12px;
    background-color: #f2cd5e;

    &:hover {
      background-color: #ebd595;
    }
  }

  .apple_btn {
    background-color: #000000;

    &:hover {
      background-color: #323232;
    }
  }

  .paypal_btn {
    background-color: #f6b71e;

    &:hover {
      background-color: #f5c964;
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  color: #888888;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex-grow: 1;
  border-bottom: 1px solid #d5d5d5;
}

.divider::before {
  margin-right: 16px;
}

.divider::after {
  margin-left: 16px;
}

.payment_info_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  border-radius: 6px;
}

.row_box {
  display: flex;
  gap: 16px;

  @media (max-width: 580px) {
    flex-direction: column;
  }
}

.column_box {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .input,
  .country_selector {
    height: 10px;
  }
}

@media (max-width: 480px) {
  .payment_btn_box {
    grid-template-columns: 1fr;
  }

  .checkout_info_btn {
    font-size: 0.8rem;
    height: 40px;
  }
}
