.collection_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.125rem;
  font-weight: 400;

  @media (max-width: 545px) {
    font-size: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}
