.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 64px;
  padding: 36px;
  background-color: #f8f8f8;
  color: #121212;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.125rem;

  a {
    width: fit-content;
  }

  a:hover {
    text-decoration: underline;
  }
}

.title {
  font-weight: 600;
}

@media (max-width: 840px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 545px) {
  .box {
    h2 {
      font-size: 1.125rem;
    }

    .link_box {
      font-size: 1rem;
    }
  }
}
