.collection_box {
  display: flex;
  gap: 28px;
  font-weight: 500;

  a:hover {
    text-decoration: underline;
  }

  &.is_column {
    flex-direction: column;
    gap: 8px;
    font-size: 1.125rem;
    font-weight: 400;
    @media (max-width: 545px) {
      font-size: 1rem;
    }
  }
}
