.main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 36px 24px;
  color: #121212;
  background-color: #f8f8f8;
  border-radius: 16px;
}

.success_info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 2.225rem;
  font-weight: 500;
  text-align: center;
}

.info_text {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 16px;
  text-align: center;
}

.email_info_text {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #888888;
}

.bill_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 520px;
  padding: 16px 24px;
  border: 2px solid #696969;
  border-radius: 16px;

  .bill_title {
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
  }

  p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #2f2f2f;
  }

  hr {
    color: #696969;
  }
}

.home_link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 40px;
  padding: 5px 16px;
  margin-bottom: 36px;
  color: #f8f8f8;
  background-color: #121212;
  border-radius: 8px;
  transition: background-color ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #2f2f2f;
  }
}

@media (max-width: 410px) {
  .title {
    font-size: 1.8rem;
  }

  .info_text {
    font-size: 0.9rem;
  }

  .email_info_text {
    font-size: 8px;
  }

  .tick_icon {
    width: 48px;
    height: 48px;
  }

  .home_link {
    height: 35px;
    padding: 5px 12px;
    font-size: 0.9rem;
  }
}
