.main_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.logo_box {
  font-size: 2.225rem;
  font-weight: 600;
  font-family: Birthstone, sans-serif;
  color: #121212;
  margin-top: 16px;
}

.title {
  font-size: 2.225rem;
  font-weight: 500;
}

.form_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #f3f3f3;
  padding-bottom: 64px;
}

.cart_lines_title {
  font-size: 2.225rem;
  font-weight: 500;
}

.form_sub_box,
.cart_lines_sub_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 680px;
  margin: 24px auto;
  padding: 0 24px;
}

.cart_lines_sub_box > div > div {
  max-width: none;
}

@media (max-width: 1024px) {
  .main_box {
    grid-template-columns: 1fr;
  }

  .column_box {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.65rem;
  }

  .cart_lines_title {
    font-size: 1.8rem;
  }
}
