@import './reset.css';

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
